<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <title>Cropper.js Java Upload Demo</title>
        <style>
            
        </style>
    </h:head>
    <h:body>
        <h:outputStylesheet library="css" name="cropper.css"  />
        <h:outputStylesheet library="css" name="main.css"  />
        <b:container >
            <b:modal id="modal" title="Cropper Modal Example" styleClass="modalPseudoClass">
                <div class="modal-body">
                    <div>
                        <img id="image" src="resources/img/picture-1.png" alt="Picture"/>
                    </div>
                    <div>
                        <div id="result" class="preview preview-sm"></div>
                    </div>
                </div>
                <f:facet name="footer">
                    <form action="upload" method="post" >
                        <textarea name="image_file" style="display: none;" class="form-control" id="dataURL" rows="10"></textarea>

                        <label class="btn btn-primary" for="inputImage" title="Bild Upload">
                            Suchen<input type="file" class="sr-only" id="inputImage" name="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff"/>
                        </label>

                        <input type="submit" class="btn btn-success" id="button" value="Speichern"/>

                        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    </form>
                </f:facet>
            </b:modal>
            <b:row>
                <b:column id="avatar-col" col-xs="12" col-sm="12" col-md="12" col-lg="12" >
                    <b:image library="img" name="picture-1.png" value="#{session.getAttribute('image')}" col-xs="3" col-sm="3" col-md="3" col-lg="3" offset-xs="3" offset-sm="3" offset-md="3" offset-lg="3"/>
                </b:column>
            </b:row>
            <b:row>
                <b:column col-xs="12" col-sm="12" col-md="12" col-lg="12">
                    <b:button value="Edit Image" look="primary" onclick="$('.modalPseudoClass').modal();" size="xs" col-xs="3" col-sm="3" col-md="3" col-lg="3" offset-xs="3" offset-sm="3" offset-md="3" offset-lg="3"/>
                </b:column>
            </b:row>
        </b:container>
        <h:outputScript library="js" name="cropper.js"/>
        <h:outputScript library="js" name="main.js"/>
    </h:body>
</html>

